<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <img src="../logo.png" alt="" width="122" height="80"/>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Турниры</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Сообщество</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Member Ship</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <img src="../flag.png" alt="Russia Flag" class="flag me-3" style="width: 40px; height: 40px;">
                    <img src="../user_logo.png" alt="Russia Flag" class="flag me-3" style="width: 40px; height: 40px;">
                    <a href="#" class="btn btn-primary btn-sm">Создать аккаунт</a>
                </div>
            </div>
        </div>
    </nav>
</header>