<nav class="navbar navbar-expand-lg navbar-dark bg-transparent position-absolute w-100 z-1">
    <div class="container">
        <a class="navbar-brand fw-bold" href="#">WOSTOUR</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Турниры
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Предстоящие</a></li>
                        <li><a class="dropdown-item" href="#">Прошедшие</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Сообщество</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Member Ship</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <a href="#" class="nav-link me-3"><img src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Flag_of_Russia.svg" alt="Russian Flag" width="24"></a>
                <a href="#" class="nav-link me-3"><i class="bi bi-person-circle"></i></a>
                <a href="#" class="btn btn-outline-light rounded-pill px-3 py-2">Создать аккаунт</a>
            </div>
        </div>
    </div>
</nav>

